@use "../variables" as *;

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  transform: $value;
}

form {
  background-color: $bg-light; // corregido
  padding: 2rem;
  border-radius: 0.5rem;
  @include transition(all 0.3s);

  input,
  textarea {
    @include transition(border-color 0.3s);

    &:focus {
      border-color: $primary-color;
      @include box-shadow(0 0 5px rgba(13, 110, 253, 0.5));
    }
  }

  button {
    @include transition(all 0.2s);
    @include transform(scale(1)); // valor inicial

    &:hover {
      @include transform(scale(1.05));
      background-color: $primary-color;
      border-color: $primary-color;
      color: #fff;
    }
  }
}