@use "../variables" as *;

.navbar {
  font-family: $font-family-base;
  background-color: $primary-color !important;

  .navbar-brand {
    font-weight: bold;
    color: #fff !important;
    @include transition(color 0.3s);
    &:hover {
      color: $accent-color !important;
    }
  }

  .nav-link {
    color: #fff !important;
    margin-left: 1rem;
    font-weight: 500;
    @include transition(all 0.3s);

    &:hover {
      color: $accent-color !important;
      transform: scale(1.1);
    }
  }

  .badge {
    font-size: 0.8rem;
    background-color: $accent-color !important;
    color: $bg-dark !important;
  }
}